/* for centreing elements */
.center {
  text-align: center;
}

/* align image to right */
img.rightImage {

}

/* for website master logo design */
.header {
  position: absolute;
  font-size: 5vh;
  font-family: monospace;
  color: darkslategrey;

  top: 20px;
  left: 20px;

  transform: rotate(-20deg);
}

.subheader {
  font-size: 420%;

  color: darkred;
  font-family: "Brush Script MT", "cursive";
}

.bar-background {
  display: flex;

  height: max(calc(5vh + 15px), 35px);
  width: 100%;
  left:0px;

  background-color: aquamarine;
  position: sticky;
  top:0px;

  /* justify-content: flex-start; */
  align-items: center;

  /*border:1px solid black;
   experimenting with border aesthetics */
}

/* change colour of navbar selection upon hover */
a:hover {
  background-color: slateblue;
  color: aquamarine;
}
/* use hover colour for active window by default */
li a.active {
  background-color: slateblue;
  color: aquamarine;
}

/* uses modification of w3schools css */
li a {
  display: block;
  color: slateblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li.navbar {
  font-family: garamond, serif;
  font-size: min(calc(25% + 20px), 40px);
  display: inline-block;

  /*padding: 2%; */
  padding-top: 5px; /* may no longer be needed */
  padding-bottom: 5px;

  margin-left: 10px;

  position: relative;
  /*top: 40%;*/
  /*margin: 0px auto;*/
}

a.navblock {
  /*text-align: center; now in the hyperlink, no longer needed */
}

body {
  background-color:lightblue;
}

p {
  /*color:red;*/
}
