.center {
  text-align: center;
}

.bar-background {
  display: flex;

  height: max(calc(5vh + 15px), 35px);
  width: 100%;
  left:0px;

  background-color: aquamarine;
  position: sticky;
  top:0px;

  /* justify-content: flex-start; */
  align-items: center;

  /*border:1px solid black; */
}

a:hover {
  background-color: slateblue;
  color: aquamarine;
}

/* uses modification of w3schools css */
li a {
  display: block;
  color: slateblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navbar {
  font-family: garamond, serif;
  font-size: min(calc(25% + 20px), 40px);
  display: inline-block;

  /* border:1px solid black;
  border-radius: 0;
  border-left: 1px solid;
  border-right: 1px solid; */

  /*padding: 2%; */
  padding-top: 5px;
  padding-bottom: 5px;

  margin-left: 10px;

  position: relative;
  /*top: 40%;*/
  /*margin: 0px auto;*/
}

a.navblock {
  /*text-align: center;*/
}

body {
  background-color:lightblue;
}

p {
  /*color:red;*/
}
